[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = git://github.com/abseil/abseil-cpp
[submodule "third_party/cctz"]
	path = third_party/cctz
	url = git://github.com/google/cctz
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = git://github.com/google/googletest
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = git://github.com/gflags/gflags
[submodule "third_party/yaml-cpp"]
	path = third_party/yaml-cpp
	url = git://github.com/jbeder/yaml-cpp.git
[submodule "third_party/fasm"]
	path = third_party/fasm
	url = git://github.com/SymbiFlow/fasm.git
[submodule "third_party/python-sdf-timing"]
	path = third_party/python-sdf-timing
	url = git://github.com/SymbiFlow/python-sdf-timing.git
[submodule "third_party/yosys"]
	path = third_party/yosys
	url = git://github.com/YosysHQ/yosys
[submodule "third_party/sanitizers-cmake"]
	path = third_party/sanitizers-cmake
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "third_party/display_port"]
	path = third_party/display_port
	url = git://github.com/hamsternz/DisplayPort_Verilog.git
